html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Golos';
    src: local('GolosBold'),
        url("../fonts/GolosBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos';
    src: local('GolosMedium'),
        url("../fonts/GolosMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos';
    src: local('GolosRegular'),
        url("../fonts/GolosRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather-Regular'),
        url("../fonts/Merriweather-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Medium'),
        url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Golos", Merriweather, sans-serif;
}

/* :root {
   
  } */

/* GLOB */
.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    font-family: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1366px;
    padding: 0 72px;
    margin: 0 auto;
    color: black;
}

.donate__content-top--small {
    display: none;
}

.donate__table-row--small {
    display: none;
}

.stages__slider-controls {
    display: none;
}

/* header */
.header {
    position: absolute;
    padding-bottom: 62px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 26px;
}

.header__list-logo {
    display: flex;
    gap: 1.73px;
}

.header__title {
    margin: 0;
    font-family: 'Golos';
    font-weight: 700;
    font-size: 16px;
}

.header__title-br {
    display: block;
}

/* hero */
.hero {
    padding-top: 123px;
    margin-bottom: 81px;
    background-image: url("../img/top-background-1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 542px;
    font-family: 'Merriweather';
    text-transform: uppercase;
    line-height: 110%;
    font-weight: 700;
    font-size: 60px;
}

.hero__title-br {
    display: block;
    text-align: center;
}

.hero__title-end {
    display: block;
    text-align: end;
}

.hero__desc {
    margin: 0;
    font-family: 'Golos';
    margin-bottom: 39px;
    letter-spacing: 1px;
    max-width: 542px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.hero__buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    max-width: 542px;
}

.hero__btn {
    margin-bottom: 124px;
    padding: 16px;
    border-radius: 66px;
    width: calc(100% / 2);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
}

.hero__btn-black {
    background-color: #1F1F1F;
    color: #FFF;
}

.hero__btn-black:hover {
    color: #1F1F1F;
    background-color: #FBCE51;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero__btn:active {
    transform: scale(1.02);
}

.hero__btn-transp {
    color: #1F1F1F;
    border: 2px solid #1F1F1F;
}

.hero__btn-transp:hover {
    color: #FFF;
    background-color: #1F1F1F;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero__btn:active {
    transform: scale(1.02);
}

.running-line {
    /* position: absolute;
    z-index: -1;
    width: 100%;
    overflow-x: hidden;
    left: 0;
    background-color: #F54932; */
    overflow: hidden;
    white-space: nowrap;
    background-color: #F54932;
}

.marquee-text {
    margin: 0;
    display: flex;
    white-space: nowrap;
    font-family: "Merriweather";
    padding: 18px;
    font-weight: 400;
    font-size: 27px;
    line-height: 81%;
    color: #FFF;
    animation: marquee 20s infinite linear;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* DOANTE */
.donate {
    margin-bottom: 200px;
}

.donate__content-top {
    display: flex;
    gap: 40px;
    margin-bottom: 36px;
}

.donate__title {
    margin: 0;
    padding-top: 28px;
    font-family: 'Merriweather';
    text-transform: uppercase;
    font-weight: 400;
    line-height: 134%;
    font-size: 36px;
    color: #1F1F1F;
}

.donate__title-color {
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #F54932;
}

.donate__content-bottom {
    position: relative;
    display: flex;
    justify-content: end;
}

.donate__content-bottom-img {
    position: absolute;
    top: -19px;
    left: -27px;
}

.donate__content-bottom-content {
    width: calc(100% - 518px);
}

.donate__table {
    width: 100%;
    margin-bottom: 40px;
    border-collapse: collapse;
}

.donate__table-columns {
    padding: 14px 0 15px 0;
    font-weight: 600;
    font-size: 20px;
    color: #313131;
}

.donate__title-bottom {
    margin-bottom: 53px;
}

.donate__table-columns:not(:last-child) {
    border-right: 2px solid #D0D0D0;
}

.donate__table-row:not(:last-child) {
    border-bottom: 2px solid #D0D0D0;
}

.donate__table-columns-left {
    font-size: 20px;
    font-weight: 400;
    width: 43.5%;
    letter-spacing: 0.8px;
    color: #D0D0D0;
}

.donate__table-columns-right {
    padding-left: 15px;
    letter-spacing: 1px;
}

.strike {
    text-decoration: line-through;
    text-decoration-color: #F54932;
}

.donate__content-link {
    font-size: 20px;
    letter-spacing: 1px;
    color: #3057A2;
}

/* STAGES */
.stages {
    margin-bottom: 195px;
}

.stages__title {
    margin: 0;
    margin-bottom: 54px;
    font-family: 'Merriweather';
    text-transform: uppercase;
    line-height: 64px;
    font-size: 54px;
    max-width: 806px;
}

.stages__container {
    position: relative;
}

.stages__desc {
    position: absolute;
    top: 48px;
    left: 372px;
    max-width: 326px;
    font-size: 22px;
    color: #3057A2;
}

.stages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stages__item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.stages__item7 {
    position: relative;
    grid-column-end: span 2;
}

.stages__item-desc7 {
    max-width: 446px;
}

.stages__item {
    display: flex;
    padding: 21px;
    background-image: url('../img/stages_item-background.jpg');
}

.stages__item-number {
    margin-right: 18px;
    padding: 6px 11px;
    border-radius: 50px;
    background-color: #FFF;
    align-self: flex-start;
    font-weight: 600;
    font-size: 20px;
}

.stages__item-desc {
    margin: 0;
    line-height: 24px;
    font-weight: 100;
    font-size: 22px;
}

.stages__item-img {
    position: absolute;
    bottom: 1px;
    max-width: 100%;
    left: 58%;
}

.stages__list-small {
    display: none;
}

/* MEMBERS */
.members {
    margin-bottom: 120px;
}

.members__title {
    margin: 0;
    font-family: 'Merriweather';
    font-size: 54px;
    font-weight: 100;
    text-transform: uppercase;
}

.members {
    text-align: center;
}

.slider__top {
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.slider__counter {
    white-space: nowrap;
}

.slider__btn {
    background-color: #313131;
    background-image: url('../img/btn-next.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    width: 44px;
    height: 44px;
}

.slider__btn:hover {
    background-color: #FBCE51;
}

.disabled {
    background-color: #D6D6D6;
}

.disabled:hover {
    background-color: #D6D6D6;
}

.slider__prev {
    background-image: url('../img/btn-prev.svg');
}

.slider__wrapper {
    overflow: hidden;
    width: 100%;
}

.slider__list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider__item {
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
}

.slider__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 26px;
}

.slider__member-name {
    margin: 0;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.4px;
    color: #313131;
}

.slider__member-desc {
    margin: 0;
    margin-bottom: 22px;
    letter-spacing: 1.2px;
    font-size: 20px;
    opacity: 0.7;
}

.slider__member-btn {
    margin-right: 12px;
    padding: 9px 12px;
    border: 1px solid #3057A2;
    border-radius: 62px;
    font-weight: 500;
    font-size: 17px;
    color: #3057A2;
}

.slider__member-btn:hover {
    background-color: #0056b3;
    color: #FFF;
    transition: background-color .3s ease-in-out, color .3s ease-in-out ;
}

.footer {
    background-color: #E9DED4;
}

.footer__running-line {
    margin-bottom: 40px;
    z-index: 1;
}

.footer__info {
    display: block;
    margin: 0;
    letter-spacing: 0.1px;
    padding-bottom: 72px;
    font-size: 17px;
    color: #313131;
    opacity: 0.7;
}